@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}
/* taken from dai */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}